<div class="topnav">
    <a class="active" (click)="navigate('/welcome')">Home</a>
    <a (click)="navigate('/subscriptions')">Foglalásaim</a>
    <a (click)="navigate('/calendar')">Fitnessz alkalmak</a>
    <a *ngIf="isAdmin == 'true'" (click)="navigate('/user-management')">Felhasználók kezelése</a>
    <a *ngIf="isAdmin == 'true'" (click)="navigate('/class-management')">Fitnessz órák kezelése</a>
    <a style="float: right;" (click)="logout()">Kijelentkezés</a>
</div> 
<div class="table-container" *ngIf="classes && classes.length; else noClassesTemplate">
  <table>
      <thead>
          <tr>
              <th>Időpont</th>
              <th>Típus</th>
              <th>Leírás</th>
              <th>Hossz</th>
              <th>Nehézség</th>
              <th>Létszám</th>
              <th>Leiratkozás</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let class of classes">
              <td>{{class.start.toLocaleString("hu-HU")}}</td>
              <td>{{class.type}}</td>
              <td>{{class.description}}</td>
              <td>{{class.duration}} óra</td>
              <td>{{class.difficulty}}</td>
              <td>{{class.maxPeople}} / {{class.participants.length}}</td>
              <td><button  type="button" (click) = "unsubscribe(class.id)">Lejelentkezés</button></td>
          </tr>
      </tbody>  
  </table>
</div>
<ng-template #noClassesTemplate>
    <div class="subtext">
        <p>Egy órára se iratkoztál még fel.</p>
    </div>
</ng-template>
<div class="logo">
    <img  src="/assets/logo.png" alt="logo">
</div>
  